.h1 {
    background-color: black;
    color: white;
    text-align: center;
    width: 31%;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(211, 232, 20);
    border-image: initial;
    border-radius: 10px;
    margin: 30px 10px;
}
 
.h1 img{
    width: 90%;
    height: 80%;
    border-radius: 10px;
}
.one{
    margin: 50px 450px 0px 650px;
}