*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.conteiner{
    display: flex;
    justify-content: space-around;
    width: 87%;
    margin: 100px auto;
    flex-wrap: wrap;
    row-gap: 30px;
}
.conteiner .col{
    width: 30%;
    height: 200px;
    background-color: red;
}
@media (max-width: 992px) {
    .conteiner .col{
        width: 45%;
    }
}
@media(max-width:675px){
    .conteiner .col{
        /* высшая приоритетность  */
        width: 100% !important ;
    }
}