*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.conteiner{
    width: 87%;
    height: 1000px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    /* flex-start;flex-end;center;space-around; space-evenly */
    align-items: flex-end;

    background-color: yellow;
}

.conteiner .col{
    width: 22%;
    height: 300px;
    background-color: red;
}

.wrapp .col{
    width: 87%;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: yellow;
    row-gap: 20px;

}

.wrapp .col{
    width: 40%;
    background-color: red;
    height: 300px;
}

.direction{
    width: 87%;
    margin: 100px auto;
    display: flex;
    background-color: yellow;
    height: 1200px;
    flex-direction: column;
    /* row */
    justify-content: space-around;
    align-items: center;
}

.direction .col{
    width: 22%;
    background-color: red;
    height: 150px;
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 30px;
}